body, ul, li, a, h2, h3, h4, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1980px;
    font-family: "Lato", sans-serif;
}

@font-face {
    font-family: "Lato";
    src: url(fonts/Lato-Black.ttf);
    src: url(fonts/Lato-Bold.ttf);
    src: url(fonts/Lato-Heavy.ttf);
    src: url(fonts/Lato-Light.ttf);
    src: url(fonts/Lato-Medium.ttf);
    src: url(fonts/Lato-Regular.ttf);
}

 @import "scss/header.scss";
 @import "scss/sliders.scss";
 @import "scss/slidersMini.scss";
 @import "scss/login.scss";
 @import "scss/themes.scss";
 @import "scss/search.scss";
 @import "scss/footer.scss";
 @import "scss/contacts.scss";
 @import "scss/grants.scss";
 @import "scss/courses.scss";