body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
    p {
        margin: 0;
    }
    h1, h2, h3, h4,h5, h6 {
        margin: 0;
    }
    ul, li {
        margin: 0;
    }
}

$primary-color: #da8e1e;

@import 'scss/header';
@import 'scss/slider';
@import 'scss/properties';
@import 'scss/forms';

